body{
    background-image: url('mountain-img.jpg');
    background-size: cover;
}
.card{
     height: 600px;
     width: 410px;
     border: 2px solid black;
     border-radius: 10px;
     background-color: rgb(79, 76, 128);
     margin-left: 530px;
     margin-top: 50px;
}
.card img{
    height: 110px; 
    width: 110px;
    border-radius: 50%;
    border: 10px solid pink;
   margin-top: 50px;
   margin-left: 130px;
}
/* .bottom{
    height: 200px;
    background-color: white;
} */

   
