.navbar{
    height: 65px;
    background-color: rgb(159, 159, 159);
    display: flex;
    justify-content: space-around;
}

.navbar img{
    width: 100px;
    margin-right: 500px;
}
.menu-items{
    /* border: 2px solid red; */
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 200px;
}
.menu-items p:hover{
    color: rgb(0, 89, 255);
}
.menu-items a{
    text-decoration: none;
}
.menu-items p{
    color: red;
    font-size: 20px;
}

.buttons{
     /* margin-right: 50px; */
     margin-top: 15px;
     width: 300px;
}
button{
    height: 35px;
    width: 100px;
    margin-right: 20px;
    background-color: rgb(88, 255, 88);
    border-radius: 10px;
}
.fa-solid{
    margin-right: 5px;
    color: white;
    font-size: 16px;
}
button:hover{
 background-color: aliceblue;
 color: green;
i{
    color: black;
}
}
